{% extends 'blog/base.html' %}

{% block title %}
Home - Django Blog
{% endblock %}

{% block content %}
    <h1>Welcome to the Django Blog!</h1>

    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! You are logged in.</p>
        <a href="{% url 'logout' %}">logout</a>
    {% else %}
        <p>Hello, Guest! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to access more features.</p>
    {% endif %}

    <section>
        <h2>Latest Blog Posts</h2>
        <!-- You can loop through blog posts here -->
        <ul>
            {% if user.is_authenticated %}
                {% for post in posts %}
                    <li>
                        <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                        <p>Published on: {{ post.published_date|date:"F d, Y" }}</p>
                    </li>
                    {% empty %}
                        <li>No posts available.</li>
                {% endfor %}        
            {% else %}
                    <li>No post</li>

            {% endif %}

        </ul>
    </section>
{% endblock %}
