{% extends 'blog/base.html' %}

{% block title %}
    Blog Posts
{% endblock %}

{% block content %}
    <h1>All Blog Posts</h1>
    
    <!-- Display the list of posts -->
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p>{{ post.content|truncatewords:30 }}</p> <!-- Display first 30 words of the post -->
                    <small>By {{ post.author }} on {{ post.published_date }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts available.</p>
    {% endif %}
    
    <!-- Optionally, link to create a new post if the user is authenticated -->
    {% if user.is_authenticated %}
        <a href="{% url 'post-create' %}" class="btn btn-primary">Create New Post</a>
    {% endif %}
{% endblock %}
